<style> 
        body {
    color: purple;
    background-color: #d8da3d }
h1 {color: white;
background-color: red;}
li {font-size: 20
    ;}
    h3 {color:black; 
        background-color: yellow;}
    .divClass {

    }
    li {
        font-size: ;
    }
</style>
