<style>

.divClass {
    text-align: center;
    
}

h1 {
    color: crimson;
    text-align: center;
}

img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#thirDiv {
    width: 500px;
    height: 400px;
    background-color:orange;
    padding: 50px;
    border: black 5 px dotted;
    margin-left: auto;
    

}

#spanID {
    font-size: 25px;
    margin: 50px;
}

body {
    background-image: url(https://images.pexels.com/photos/1435737/pexels-photo-1435737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    text-align: center;
  }




</style>